{{ define "title" }}Šparovec | Settings{{ end }}
{{ define "content" }}
<div>
    <h1 class="text-5xl font-semibold">Settings</h1>
    <div class="mt-6 shadow-lg card bg-base-100">
        <div class="grid sm:grid-cols-3 card-body">
            {{ template "name-settings" . }}
            <div class="sm:col-span-3 divider"></div>
            {{ template "member-settings" . }}
            <div class="sm:col-span-3 divider"></div>
            {{ template "danger-zone" . }}
        </div>
    </div>
</div>
<!-- Delete dialog -->
<dialog id="delete_wallet_modal" class="modal">
    <div class="max-w-sm modal-box">
        <h3 class="text-lg font-bold">Delete a Wallet</h3>
        <p class="pt-4">
            Are you sure you want to delete wallet
            <span class="font-bold">{{.WalletName}}</span>? This action
            can't be undone!
        </p>
        <form action="/wallets/{{.Navbar.SelectedWalletId}}/settings/delete"
              method="POST">
            <div class="justify-between modal-action">
                <button type="button" class="btn" onclick="delete_wallet_modal.close()">Cancel</button>
                <button type="submit" class="btn btn-error">Delete</button>
            </div>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
{{ end }}
