{{ define "title" }}Šparovec | Settings{{ end }}
{{ define "content" }}
<div>
    <h1 class="text-5xl font-semibold">Settings</h1>
    <div class="mt-6 shadow-lg card bg-base-100">
        <div class="grid sm:grid-cols-3 card-body">
            {{ template "name-settings" . }}
            <div class="sm:col-span-3 divider"></div>
            {{ template "member-settings" . }}
            <div class="sm:col-span-3 divider"></div>
            {{ template "danger-zone" . }}
        </div>
    </div>
</div>
{{ end }}
