{{define "body"}}
<!---->
{{with .Navbar}}
<div class="justify-between shadow navbar bg-base-100">
  <div class="justify-start">
    {{if .SelectedWallet}}
    <div class="dropdown">
      <label tabindex="0" class="md:hidden btn btn-ghost">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </label>
      <ul
        tabindex="0"
        class="p-2 mt-3 w-52 shadow menu menu-md dropdown-content z-[1] bg-base-100 rounded-box"
      >
        <li><a>Dashboard</a></li>
        <li><a>Transactions</a></li>
        <li><a>Tags</a></li>
        <li><a>Settings</a></li>
      </ul>
    </div>
    {{end}}
    <a class="text-xl btn btn-ghost" href="/">Šparovec</a>
  </div>

  {{if .SelectedWallet}}
  <div class="hidden md:flex shrink-0">
    <ul class="px-1 menu menu-horizontal">
      <li><a>Dashboard</a></li>
      <li><a>Transactions</a></li>
      <li><a>Tags</a></li>
      <li><a>Settings</a></li>
    </ul>
  </div>
  {{end}}

  <div class="flex-grow justify-end space-x-2 md:flex-grow-0">
    <script>
      function changeWallet() {
        const id = document.getElementById("wallets-select").value;
        window.location.assign("/wallets/" + id);
      }
    </script>
    <select
      id="wallets-select"
      class="w-full select select-bordered overflow-ellipsis md:w-[200px]"
      onchange="changeWallet()"
      {{if
      not
      .Wallets}}disabled{{end}}
    >
      <option disabled {{if not .SelectedWallet}}selected{{end}}>
        {{if .Wallets}} Select a wallet {{else}} No wallets {{end}}
      </option>

      {{range .Wallets}}
      <option {{if .Selected}}selected{{end}} value="{{.Id}}">{{.Name}}</option>
      {{end}}
    </select>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-user-circle-2"
        >
          <path d="M18 20a6 6 0 0 0-12 0" />
          <circle cx="12" cy="10" r="4" />
          <circle cx="12" cy="12" r="10" />
        </svg>
      </label>
      <ul
        tabindex="0"
        class="p-2 mt-3 w-52 shadow z-[1] menu menu-sm dropdown-content bg-base-100 rounded-box"
      >
        <li class="font-normal menu-title">{{.Username}}</li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
{{end}}
<div class="px-6 pt-3 pb-6 mx-auto w-full max-w-5xl h-full prose">
  {{block "content" .}} {{end}}
</div>
{{end}}
