{{define "member-settings"}}
<div class="sm:col-span-1">
  <div class="flex flex-row items-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round" class="mr-2 h-6 w-6">
      <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
      <circle cx="9" cy="7" r="4" />
      <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
      <path d="M16 3.13a4 4 0 0 1 0 7.75" />
    </svg>
    <h2 class="text-xl font-medium">Members</h2>
  </div>
  <p class="text-sm mt-1">Add and remove members from this wallet.</p>
</div>
<div class="sm:col-span-2 ">
  Members
</div>
{{end}}
