{{define "transaction-delete-dialog"}}
<dialog id="delete_transaction_dialog" class="modal">
  <div class="max-w-sm modal-box">
    <h3 class="text-lg font-bold">Delete a Transaction</h3>
    <p class="pt-4">
      Are you sure you want to delete transaction
      <span class="font-bold" id="delete_transaction_warn_name"></span>? This action
      can't be undone!
    </p>
    <form
      id="delete_transaction_form"
      hx-post="/wallets/{{.Navbar.SelectedWalletId}}/transactions/delete"
      hx-swap="outerHTML"
      hx-target="#transactions_table"
      hx-select="#transactions_table"
      hx-disabled-elt="#delete_transaction_button"
    >
      <input id="delete_transaction_form_id" name="id" type="text" hidden />
      <div class="justify-between modal-action">
        <button type="button" class="btn" onclick="delete_transaction_dialog.close()">
          Cancel
        </button>

        <button type="submit" class="btn btn-error" id="delete_transaction_button">
          <span
            class="loading loading-spinner loading-xs loading-indicator"
          ></span>
          Delete
        </button>
      </div>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
{{end}}
