{{define "transaction-dialog"}}
<dialog id="transaction_dialog" class="modal">
  <div class="max-w-lg modal-box">
    <h3 class="text-lg font-bold">Add a Transaction</h3>
    <form
      id="transaction_form"
      class="pt-4 space-y-4"
      hx-post="/wallets/{{.Navbar.SelectedWalletId}}/transactions?{{.UrlParams}}"
      hx-swap="outerHTML"
      hx-target="#transactions_table"
      hx-select="#transactions_table"
      hx-disabled-elt="#transaction_button"
    >
      <input id="transaction_id" name="id" type="hidden" />
      <input id="transaction_submit_type" name="submit_type" type="hidden" />

      <input
        id="transaction_name"
        name="name"
        type="text"
        class="w-full input input-bordered"
        placeholder="Name"
        required
      />

      <div class="flex flex-col gap-2 items-center py-2 xs:flex-row xs:py-0">
        <div class="join">
          <input
            id="transaction_type_outcome"
            class="join-item btn"
            type="radio"
            name="type"
            value="outcome"
            aria-label="Outcome"
            checked
            required
          />
          <input
            id="transaction_type_income"
            class="join-item btn"
            type="radio"
            name="type"
            value="income"
            aria-label="Income"
            required
          />
        </div>
        <input
          id="transaction_value"
          type="text"
          name="value"
          class="w-full input input-bordered"
          placeholder="Value"
          required
        />
      </div>

      <div class="flex flex-col gap-2 xs:flex-row">
        <input
          id="transaction_date"
          type="date"
          name="date"
          class="w-full xs:w-auto input input-bordered"
          value="2023-11-25"
          required
        />

        <select
          id="transaction_tag"
          name="tag"
          class="w-full xs:flex-grow xs:w-auto select select-bordered"
        >
          <option selected value="">No Tag Selected</option>
          {{range .Tags}}
          <option value="{{.Id}}">{{.Name}}</option>
          {{end}}
        </select>
      </div>

      <div role="alert" class="hidden alert" id="transaction_alert">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6 stroke-current shrink-0"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
          />
        </svg>
        <span id="transaction_alert_message">Error</span>
      </div>

      <div class="justify-between pt-2 modal-action">
        <button type="button" class="btn" onclick="transaction_dialog.close()">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary" id="transaction_button">
          <span
            class="loading loading-spinner loading-xs loading-indicator"
          ></span>
          Save
        </button>
      </div>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

{{end}}
